interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://v.redd.it/1j6sbv2npvd11/DASHPlaylist.mpd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<MPD
        mediaPresentationDuration=\"PT15.034S\" minBufferTime=\"PT1.500S\" profiles=\"urn:mpeg:dash:profile:isoff-on-demand:2011\"
        type=\"static\" xmlns=\"urn:mpeg:dash:schema:mpd:2011\">\n    <Period duration=\"PT15.034S\">\n
        \       <AdaptationSet segmentAlignment=\"true\" subsegmentAlignment=\"true\"
        subsegmentStartsWithSAP=\"1\">\n            <Representation bandwidth=\"2426764\"
        codecs=\"avc1.4d401f\" frameRate=\"30\" height=\"480\" id=\"VIDEO-1\" mimeType=\"video/mp4\"
        startWithSAP=\"1\" width=\"480\">\n                <BaseURL>DASH_2_4_M</BaseURL>\n
        \               <SegmentBase indexRange=\"914-993\" indexRangeExact=\"true\">\n
        \                   <Initialization range=\"0-913\"/>\n                </SegmentBase>\n
        \           </Representation>\n            <Representation bandwidth=\"1222497\"
        codecs=\"avc1.4d401e\" frameRate=\"30\" height=\"360\" id=\"VIDEO-2\" mimeType=\"video/mp4\"
        startWithSAP=\"1\" width=\"360\">\n                <BaseURL>DASH_1_2_M</BaseURL>\n
        \               <SegmentBase indexRange=\"915-994\" indexRangeExact=\"true\">\n
        \                   <Initialization range=\"0-914\"/>\n                </SegmentBase>\n
        \           </Representation>\n            <Representation bandwidth=\"619249\"
        codecs=\"avc1.4d401e\" frameRate=\"30\" height=\"240\" id=\"VIDEO-3\" mimeType=\"video/mp4\"
        startWithSAP=\"1\" width=\"240\">\n                <BaseURL>DASH_600_K</BaseURL>\n
        \               <SegmentBase indexRange=\"913-992\" indexRangeExact=\"true\">\n
        \                   <Initialization range=\"0-912\"/>\n                </SegmentBase>\n
        \           </Representation>\n        </AdaptationSet>\n    </Period>\n</MPD>\n"
    headers:
      Content-Type:
      - application/dash+xml
      ETag:
      - '"6b05a834d953d68f41097cc72865e698"'
      Last-Modified:
      - Fri, 03 Aug 2018 13:25:11 GMT
      x-cdn-client-region:
      - NA
      x-cdn-name:
      - fastly
      x-cdn-server-region:
      - US-West
    status:
      code: 200
      message: OK
version: 1
