interactions:
- request:
    body: device_id=DO_NOT_TRACK_THIS_DEVICE&grant_type=https%3A%2F%2Foauth.reddit.com%2Fgrants%2Finstalled_client
    headers:
      Authorization:
      - '**********'
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "-0xUk9j6b3Z--A8cmwOZulw__KFI", "token_type": "bearer",
        "device_id": "DO_NOT_TRACK_THIS_DEVICE", "expires_in": 3600, "scope": "*"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
      x-reddit-loid:
      - 00000000006075ovjo.2.1584913333785.Z0FBQUFBQmVkOXUxUkJxeFh4UFdVaVNBbnpDeUVpbjJMVE5ZUXJTSlVJcF8wUGViTDN2TVhSdVpLUFEyTzIzQklwQUdYWXREYUNPdmktNnZkeEVQZlYyV0pwbmltbGlDRVZ5MHBpdXU2U29YMlZnM0lxSDhUczh0RVNnS0RzV19Wc3VzYlg0d0pyMWs
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - '**********'
    method: GET
    uri: https://oauth.reddit.com/r/invalidsubreddit7/top?t=all&limit=1024&raw_json=1
  response:
    body:
      string: "<html>\n <head>\n  <title>302 Found</title>\n </head>\n <body>\n  <h1>302
        Found</h1>\n  The resource was found at <a href=\"https://oauth.reddit.com/subreddits/search?q=invalidsubreddit7\">https://oauth.reddit.com/subreddits/search?q=invalidsubreddit7</a>;\nyou
        should be redirected automatically.\n\n\n </body>\n</html>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Moose:
      - majestic
      location:
      - https://oauth.reddit.com/subreddits/search?q=invalidsubreddit7
    status:
      code: 302
      message: Found
version: 1
