interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://v.redd.it/zv89llsvexdz/DASHPlaylist.mpd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<MPD
        mediaPresentationDuration=\"PT11.796S\" minBufferTime=\"PT1.500S\" profiles=\"urn:mpeg:dash:profile:isoff-on-demand:2011\"
        type=\"static\" xmlns=\"urn:mpeg:dash:schema:mpd:2011\">\n    <Period duration=\"PT11.796S\">\n
        \       <AdaptationSet segmentAlignment=\"true\" subsegmentAlignment=\"true\"
        subsegmentStartsWithSAP=\"1\">\n            <Representation bandwidth=\"2416183\"
        codecs=\"avc1.4d401f\" frameRate=\"30\" height=\"480\" id=\"VIDEO-1\" mimeType=\"video/mp4\"
        startWithSAP=\"1\" width=\"264\">\n                <BaseURL>DASH_2_4_M</BaseURL>\n
        \               <SegmentBase indexRange=\"903-1006\" indexRangeExact=\"true\">\n
        \                   <Initialization range=\"0-902\"/>\n                </SegmentBase>\n
        \           </Representation>\n            <Representation bandwidth=\"1208727\"
        codecs=\"avc1.4d401e\" frameRate=\"30\" height=\"360\" id=\"VIDEO-2\" mimeType=\"video/mp4\"
        startWithSAP=\"1\" width=\"198\">\n                <BaseURL>DASH_1_2_M</BaseURL>\n
        \               <SegmentBase indexRange=\"903-1006\" indexRangeExact=\"true\">\n
        \                   <Initialization range=\"0-902\"/>\n                </SegmentBase>\n
        \           </Representation>\n            <Representation bandwidth=\"609915\"
        codecs=\"avc1.4d401e\" frameRate=\"30\" height=\"240\" id=\"VIDEO-3\" mimeType=\"video/mp4\"
        startWithSAP=\"1\" width=\"132\">\n                <BaseURL>DASH_600_K</BaseURL>\n
        \               <SegmentBase indexRange=\"902-1005\" indexRangeExact=\"true\">\n
        \                   <Initialization range=\"0-901\"/>\n                </SegmentBase>\n
        \           </Representation>\n        </AdaptationSet>\n        <AdaptationSet>\n
        \           <Representation audioSamplingRate=\"48000\" bandwidth=\"131111\"
        codecs=\"mp4a.40.2\" id=\"AUDIO-1\" mimeType=\"audio/mp4\" startWithSAP=\"1\">\n
        \               <AudioChannelConfiguration schemeIdUri=\"urn:mpeg:dash:23003:3:audio_channel_configuration:2011\"
        value=\"2\"/>\n                <BaseURL>audio</BaseURL>\n                <SegmentBase
        indexRange=\"832-935\" indexRangeExact=\"true\">\n                    <Initialization
        range=\"0-831\"/>\n                </SegmentBase>\n            </Representation>\n
        \       </AdaptationSet>\n    </Period>\n</MPD>\n"
    headers:
      Content-Type:
      - application/dash+xml
      ETag:
      - '"c8a71f31b45dbcdb30f8c03bc08e444b"'
      Last-Modified:
      - Sat, 05 Aug 2017 14:05:39 GMT
      x-cdn-client-region:
      - NA
      x-cdn-name:
      - fastly
      x-cdn-server-region:
      - US-West
    status:
      code: 200
      message: OK
version: 1
