interactions:
- request:
    body: grant_type=refresh_token&refresh_token=**********
    headers:
      Authorization:
      - '**********'
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "125792812955-HW-3AgOmKUzqJtkxHGdQ701dwEg", "token_type":
        "bearer", "expires_in": 3600, "scope": "edit history identity mysubreddits
        privatemessages read report save submit subscribe vote"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - '**********'
    method: GET
    uri: https://oauth.reddit.com/r/invalidsubreddit7/top?t=all&limit=1024&raw_json=1
  response:
    body:
      string: "<html>\n <head>\n  <title>302 Found</title>\n </head>\n <body>\n  <h1>302
        Found</h1>\n  The resource was found at <a href=\"https://oauth.reddit.com/subreddits/search?q=invalidsubreddit7\">https://oauth.reddit.com/subreddits/search?q=invalidsubreddit7</a>;\nyou
        should be redirected automatically.\n\n\n </body>\n</html>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Moose:
      - majestic
      location:
      - https://oauth.reddit.com/subreddits/search?q=invalidsubreddit7
    status:
      code: 302
      message: Found
version: 1
